<div class="container">
    <div class="row">
        <div class="col-md-6 well">
            <form novalidate ng-show="!isLoading" name="hoursForm">
                <div class="row">
                    <div class="col-md-6">
                        <datetimepicker ng-model="currentDate" datetimepicker-config="{ startView: 'day', minView: 'day' }" datetimepicker-important-dates=" allWorkHours | select:'workHours':'workHours.date'"></datetimepicker>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" ng-click="openForm()" ng-show="!showForm">Log</button>
                        <div ng-show="showForm">
                            <button class="close" ng-click="closeForm()">&times;</button>
                            <input type="hidden" ng-model="currentLog.id" name="id" />
                            <div class="row">
                                <input type="number" name="hours" class="form-control" placeholder="Hours Worked" min="0" ng-model="currentLog.hours" required />
                            </div>
                            <div class="row">
                                <span ng-show="hoursForm.hours.$dirty && hoursForm.hours.$error.min" class="alert-danger">Must be a positive number</span>
                                <span ng-show="hoursForm.hours.$dirty && hoursForm.hours.$error.required" class="alert-danger">Required</span>
                            </div>
                            
                            <div class="row">
                                <input type="text" name="description" class="form-control" placeholder="Description" ng-model="currentLog.description" required />
                            </div>
                            <div class="row">
                                <span ng-show="hoursForm.description.$dirty && hoursForm.description.$error.required" class="alert-danger">Required</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-primary" ng-click="submitForm(hoursForm)" ng-disabled="hoursForm.$invalid">
                                        {{ submitText }}
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="row panel panel-default" ng-repeat="workDate in currentLogs" ng-show="!workDate.hidden">
                            <div class="panel-heading">
                                <button class="close del-btn" ng-click="confirmDelete(workDate.id)">&nbsp;</button>
                                <button class="close edit-btn" ng-click="editLog(workDate)">&nbsp;</button>
                                {{ workDate.description }}
                            </div>
                            <div class="panel-body">
                                Hours worked: {{ workDate.hours }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <img src="/static/img/spinner.gif" alt="loading..." ng-show="isLoading" />
        </div>
    </div>
</div>
